#!/bin/bash

email_alert={{ maldet_email_alert }}
email_subj="{{ maldet_email_subj }}"
email_addr="{{ maldet_email_addr }}"
email_ignore_clean={{ maldet_email_ignore_clean }}
quar_hits={{ maldet_quar_hits }}
quar_clean={{ maldet_inotify_nice }}
quar_susp={{ maldet_quar_susp }}
quar_susp_minuid={{ maldet_quar_susp_minuid }}
maxdepth={{ maldet_maxdepth }}
minfilesize={{ maldet_minfilesize }}
maxfilesize="{{ maldet_maxfilesize }}"
hexdepth={{ maldet_hexdepth }}
hex_fifo_scan={{ maldet_hex_fifo_scan }}
hex_fifo_depth={{ maldet_hex_fifo_depth }}
clamav_scan={{ maldet_clamav_scan }}
public_scan={{ maldet_public_scan }}
string_length_scan="{{ maldet_string_length_scan }}"
string_length="{{ maldet_string_length }}"
inotify_base_watches={{ maldet_inotify_base_watches }}
inotify_stime={{ maldet_inotify_stime }}
inotify_minuid={{ maldet_inotify_minuid }}
inotify_webdir={{ maldet_inotify_webdir }}
inotify_nice={{ maldet_inotify_nice }}
