# This profile is useful when creating your own tests, or debugging tests
# lynis audit system --profile developer.prf

debug={{ lynis_dev_debug }}
developer-mode={{ lynis_dev_developer_mode }}
quick={{ lynis_dev_quick }}
strict={{ lynis_dev_strict }}
verbose={{ lynis_dev_verbose }}